 html, body{
   overflow-x: hidden;
 }
 body {
   text-align: left;
   font-family: "Raleway", Copperplate, Candara;
   font color: #16191c;
   line-height:  1.4;
 }
 h1, h2, h3, h4 {
   text-align: left;
   font-family: "Raleway", Copperplate; Candara;
   font color: #16191c;
 }
 h1 {
   font-size: 24px; 
   font-weight: bold;
   margin-top: 40px;
   margin-bottom: 30px;
   line-height: 1.1;
 }
 h2 {
   	font-size: 30px; 
	font-weight: lighter;
	margin-top: 40px;
   	margin-bottom: 30px;
   	line-height: 1.1;
 }
 h3 {
   font-size: 18px;  
   font-weight: lighter;
   margin-top: 40px;
   margin-bottom: 10px;
   line-height: 1.1;
 }
  h4 {
   font-size: 20px;  
   font-weight: bold;
   margin-top: 40px;
   margin-bottom: 30px;
   color: #ffffff;
}
  h5 {
   font-size: 24px; 
   text-align: center; 
   font-weight: bold;
   margin-top: 10px;
   margin-bottom: 10px;
   line-height: 2;
}
 h6 {
   font-size: 18px; 
   margin-top: 40px;
   margin-bottom: 30px;
   line-height: 1.1;
 }
p {
   text-align: left;
   font-size: 18px;  
   font-weight: 100;
}
img {
	max-width: 100%
}

/* GRID */

.container {
	/* delete?width: 100%; */
	max-width: 1280px;
	margin-right: auto;
	margin-left: auto;
	position: relative;
	padding: 50px 50px 50px 50px;
}

.container:before,
.container:after {
	content: " ";
	display: table;
}

.container:after {
	clear: both;
}

.one-half,
.one-third,
.one-fourth {
	width: 96%;
	float: left;
	position: relative;
	min-height: 1px;
	margin: 0 2% 20px;
}

header nav {
	padding: 1em 0;
}
header nav ul {
	display: inline;
	text-align: left;
	float: left;
}
header .text-right {
	text-align: right
}
header nav ul > li {
	list-style-type: none;
	display: inline-block;
}
header nav ul > li > a {
	color: #ffffff;
}

/* BUTTONS */

.btn {
	font-size: 18pt;
	border-radius: 4px;
	color: #FFFFFF;
	padding: 10px 30px;
	background: #f69224;
	border: 2px solid #f69224;
	box-shadow: 0px 2px 0px 0px #c97518;
	text-decoration: none;
	display: inline-block;
	text-align: center;
}
.btnHome {
	font-size: 18pt;
	color: #FFFFFF;
	text-decoration: none;
	display: inline-block;
}
.btnclose {
	display: block;
	font-size: 36px;
	color: #ffffff;
	text-align: right;
	text-decoration: none;
	padding: 0px 75px 0px 0px;/* top right bottom left*/
}
.btnFooter {
	font-size: 18pt;
	border-radius: 4px;
	color: #FFFFFF;
	padding: 10px 30px;
	background: #f69224;
	border: 2px solid #f69224;
	box-shadow: 0px 2px 0px 0px #c97518;
	text-decoration: none;
	display: inline-block;
	margin: 0 70px;/* top right bottom left*/
	text-align: center;
}

/* CONTAINERS */


header /*.container*/ {
	background: #16191c;
	background-size: 100%;
	padding: 1em 0;
	padding-left: 0px;
	padding-right: 0px;
	position: relative;
}
.headertext h6 {
	color:  #ffffff;
	font-weight: lighter;
	margin: 0;
}


.containerhero {
	text-align: left;
	margin-right: auto;
	margin-left: auto;
	padding: 25px 25px 25px 25px;
}



.sectiondivider {  
	text-align: center;

}


.containerworkwithme {
	background: #11456c;
	padding: 50px 50px 50px 50px;  /* top right bottom left*/
}
.containerworkwithme h1, h2 {
	color: #ffffff;
	text-align:  center;
	margin-right: auto;
	margin-left: auto;
	line-height: 1; 
}
.containerworkwithme h3 {
	color: #ffffff;
	text-align:  left;
	margin-right: auto;
	margin-left: auto;
	line-height: 1; 
	margin: 0;
}
.containerworkwithme p {
	color: #ffffff;
	text-align: center;
	margin-right: auto;
	margin-left: auto;
	line-height: 1; 
}
.containerworkwithme p.wwm {
	font-weight: lighter;
	font-size: 16px;
	color: #ffffff;
	text-align: left;
	margin-right: auto;
	margin-left: auto;
	line-height: 1; 
}
.containerworkwithmeicons {
	background: #11456c;
	padding: 75px 0px 75px 0px;  /* top right bottom left*/
}
.text-center {
	text-align: center;
}
.padding-0 {
		padding: 0;
}

.containerworkhistory {
	text-align: left;
	margin-right: auto;
	margin-left: auto;
	padding: 50px 50px 50px 50px;
}
.containerworkhistory h4 {
	color: #0e3b5d;
	text-align: left;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 0;
}
.containerworkhistory p {
	text-align: left;
	margin-right: auto;
	margin-left: auto;
	margin: 0;
}
/*margin 0 to clean up  remove much this text-align...*/

.containereducation {
	text-align: left;
	margin-right: auto;
	margin-left: auto;
	padding: 50px 50px 50px 50px;
}
.containereducation h1 p {
	padding: 0;
}
.containereducation h4 {
	color: #0e3b5d;
	text-align: left;
	margin-right: auto;
	margin-left: auto;
}
.text-right {
	text-align: right
}
.containerproject {
	padding: 50px 50px 50px 50px;  /* top right bottom left*/
	background-size: cover;
}	
.containerproject h5 {
	font-style: underline;
	font-weight: lighter;
	color: #11456c;
	text-align: center;
}
.projimages {
	padding: 0;  /* top right bottom left*/
}
.proj-link {
	display: block;
	margin: 20px 0;
	max-width: 300px;
}
.proj-background {
	background-size: cover;
	margin-right: auto;
	margin-left: auto;
}
/*.proj-img {
	display: block;
}*/
footer /*.container*/ {
	background: #16191c;
	background-size: 100%;
	padding: 30px 0px 30px 0px;  /* top right bottom left*/
	padding-left: 0px;
	padding-right: 0px;
	position: relative;
}
.footertext {
	text-align: center;
	margin-right: auto;
	margin-left: auto;
}
.footertext2 {
	padding: 100px 0px 0px 0px;  /* top right bottom left*/
}



/* CONTACT PAGE */
.contactborder {
	background: #f69224;
	height: 6px;
}
.contact {
	background: url("/images/blackbackgroundV1") alt="background"; /*doesn't work*/
	background-size: cover;
	margin-right: auto;
	margin-left: auto;
	padding: 4em 0;
	background: #16191c;
}
.contact h5 {
	text-align: center;
	color: #ffffff;
	margin-right: auto;
	margin-left: auto;
}
.contact h3 {
	font-size: 16pt;
	text-align: left;
	color: #ffffff;
	margin-left: 200px;
}
.footer p {
	font-size: 16pt;
	text-align: left;
	color: #ffffff;
	margin-left: 200px;
}
.containercontact {
	display: block;
	max-width: 320px;
	margin: auto;
	padding: 0;

}
.contact label {
	color: white;
}
.contact input {
	margin: auto;
	width: 100%;
	margin-bottom: 20px
}
.contact textarea {
	width: 100%;
	margin-bottom: 20px
}
.contactexit {
	align: right;
}
/* PROJECT PAGES */

.containerproj h4 {
	font-family: copperplate;
	color: #16191c;
	text-align: center;
	line-height: 1;
}
.containerproj p {
	text-align: center;
	line-height: 1;
}
.containerproj {
	text-align: center;
}

.containerprojsetup {
	color: #ffffff;
}
.containerprojassets {
 	display: block;
 	margin-top: 20px;
	text-align: center;
	margin: 20px auto; 
	/*border: 5px solid red;*/
}


/*DFTF*/
.containerprojsetup {
	background: #8a1b1f;
	padding: 50px 50px 50px 50px;  /* top right bottom left*/
}
.containerprojprocess {
	float: center;  /*???why doesn't this center image*/
	color:  #ffffff;
	background: #e0641f;
	padding: 50px 50px 50px 50px;  /* top right bottom left*/
}
.containerprojresults{
	color: #ffffff;
	background: #2abb58;
	padding: 50px 50px 50px 50px;  /* top right bottom left*/
}

/*FRESHWAVE*/
.containerprojsetupFW {
	color: #ffffff;
	text-shadow: #000000; /*???why doesn't shadow appear*/
	background: #a7dde4;
	padding: 50px 50px 50px 50px;  /* top right bottom left*/

}
.containerprojprocessFW {
	color: #ffffff;
	background: #e05920;
	padding: 50px 50px 50px 50px;  /* top right bottom left*/
}
.containerprojresultsFW{
	color: #ffffff;	
	background: #1596a5;
	padding: 50px 50px 50px 50px;  /* top right bottom left*/
}


/*SCHOOLDEETS*/
.containerprojsetupSD {
	color: #ffffff;
	background: #0a769a;
	padding: 50px 50px 50px 50px;  /* top right bottom left*/
}
.containerprojprocessSD {
	color: #ffffff;
	background: #ef6c34;
	padding: 50px 50px 50px 50px;  /* top right bottom left*/
}
.containerprojresultsSD{
	color: #ffffff;
	background: #53c4c6;
	padding: 50px 50px 50px 50px;  /* top right bottom left*/
}
.link {  /*???why not centered? why font size not working?*/
	display: block;
	align: center
	font-size: 72px;
}
.iframe {  /*not working to center movie*/
	display: block;
	margin: 20px;
	max-width: 100%
}


/*ARTISAN STYLE*/

.containerprojsetupAS {	
	background: #42214a;
	padding: 50px 50px 50px 50px;   /* top right bottom left*/
	color: #ffffff;
}
.containerprojprocessAS {
	color: #ffffff;
	background: #845864;
	padding: 50px 50px 50px 50px;   /* top right bottom left*/
}
.containerprojresultsAS{
	color: #ffffff;
	background: #108462;
	padding: 50px 50px 50px 50px;   /* top right bottom left*/
}


/*POCKETS*/
.containerprojsetupP {
	background: #003764;
	padding: 50px 50px 50px 50px;  /* top right bottom left*/
}
.containerprojsetupP {
	color: #ffffff;
}
.containerprojprocessP {
	color:  #ffffff;
	background: #DE330E;
	padding: 50px 50px 50px 50px;  /* top right bottom left*/
}
.containerprojresultsP{
	color: #ffffff;
	text-shadow: #000000;
	background: #9ec9d4;
	padding: 50px 50px 50px 50px;  /* top right bottom left*/
}


/*WINTERPR*/
.containerprojsetupW {
	background: #1e388d;  /*green alternative #acdb55*/
	padding: 50px 50px 50px 50px;  /* top right bottom left*/
}
.containerprojsetupW {
	color: #ffffff;
}







