 html, body{
   overflow-x: hidden;
 }
 body {
   text-align: left;
   font-family: "Raleway", Copperplate, Candara;
   font color: #16191c;
   line-height:  1.4;
 }
 h1, h2, h3, h4 {
   text-align: left;
   font-family: "Raleway", Copperplate; Candara;
   font color: #16191c;
 }
 h1 {
   font-size: 24px; 
   font-weight: bold;
   margin-top: 40px;
   margin-bottom: 30px;
   line-height: 1.1;
 }
 h2 {
   	font-size: 30px; 
	font-weight: lighter;
	margin-top: 40px;
   	margin-bottom: 30px;
   	line-height: 1.1;
 }
 h3 {
   font-size: 18px;  
   font-weight: lighter;
   margin-top: 40px;
   margin-bottom: 10px;
   line-height: 1.1;
 }
  h4 {
   font-size: 20px;  
   font-weight: bold;
   margin-top: 40px;
   margin-bottom: 30px;
   line-height: .5;
   color: #ffffff;
}
  h5 {
   font-size: 24px; 
   text-align: center; 
   font-weight: bold;
   margin-top: 10px;
   margin-bottom: 10px;
   line-height: 2;
}
p {
   text-align: left;
   font-size: 18px;  
   font-weight: 100;
}
img {
	max-width: 100%
}

/* GRID */

.container {
	width: 100%; 
	margin-right: auto;
	margin-left: auto;
	position: relative;
}

.container:before,
.container:after {
	content: " ";
	display: table;
}

.container:after {
	clear: both;
}

.one-half,
.one-third,
.one-fourth {
	width: 96%;
	float: left;
	position: relative;
	min-height: 1px;
	margin: 0 2% 20px;
}

header nav {
	padding: 1em 0;
}
header nav ul {
	display: inline;
	text-align: left;
	float: left;
}
header .text-right {
	text-align: right
}
header nav ul > li {
	list-style-type: none;
	display: inline-block;
}
header nav ul > li > a {
	color: #ffffff;
}

/* BUTTONS */

.btn {
	font-size: 18pt;
	border-radius: 4px;
	color: #FFFFFF;
	padding: 10px 30px;
	background: #f69224;
	border: 2px solid #f69224;
	box-shadow: 0px 2px 0px 0px #c97518;
	text-decoration: none
}
.btnHome {
	font-size: 18pt;
	color: #FFFFFF;
	text-decoration: none
}
}.btnPrj {
	font-size: 18pt;
	color: #16191c;
}

/* CONTAINERS */


header /*.container*/ {
	background: #16191c;
	background-size: 100%;
	padding: 1em 0;
	padding-left: 0px;
	padding-right: 0px;
	position: relative;
}
.headertext h1 {
	color:  #ffffff;
	font-weight: lighter;
}


.containerhero {
	text-align: left;
	margin-right: auto;
	margin-left: auto;
	padding: 50px 50px 50px 50px;
}



.sectiondivider {   /*???does not center*/
	display: block;
	align: center;
	margin-left:  auto;
	margin-right: auto;
}


.containerworkwithme {
	background: #11456c;
	padding: 75px 0px 75px 0px;  /* top right bottom left*/
}
.containerworkwithme h1, h2 {
	color: #ffffff;
	text-align:  center;
	margin-right: auto;
	margin-left: auto;
	line-height: 1; 
}
.containerworkwithme h3 {
	color: #ffffff;
	text-align:  left;
	margin-right: auto;
	margin-left: auto;
	line-height: 1; 
}
.containerworkwithme p {
	color: #ffffff;
	text-align: center;
	margin-right: auto;
	margin-left: auto;
	line-height: 1; 
}
.containerworkwithme p.wwm {
	font-weight: lighter;
	font-size: 16px;
	color: #ffffff;
	text-align: left;
	margin-right: auto;
	margin-left: auto;
	line-height: 1; 
}
.containerworkwithmeicons {
	background: #11456c;
	padding: 75px 0px 75px 0px;  /* top right bottom left*/
}


.containerworkhistory {
	text-align: left;
	margin-right: auto;
	margin-left: auto;
	padding: 50px 50px 50px 50px;
}
.containerworkhistory h4 {
	color: #0e3b5d;
	text-align: left;
	margin-right: auto;
	margin-left: auto;
	line-height: .2; 
}
.containerworkhistory p {
	text-align: left;
	margin-right: auto;
	margin-left: auto;
	line-height: .1; 
}


.containereducation {
	text-align: left;
	margin-right: auto;
	margin-left: auto;
	padding: 50px 50px 50px 50px;
}
.containereducation h1 p {
	line-height: .1; 
	padding: 0;
}
.containereducation h4 {
	color: #0e3b5d;
	text-align: left;
	margin-right: auto;
	margin-left: auto;
	line-height: .1; 
}
.text-right {
	text-align: right
}
.containerproject {
	/*background not working*/
	background: url("images/PortfolioBackground.jpeg") alt="grunge"/></a> top center no-repeat;
	padding: 75px 0px 0px 50px;  /* top right bottom left*/
	background-size: cover;
}
.containerproject h5 {
	font-style: underline;
	font-weight: lighter;
	color: #11456c;
	text-align: center;
}
footer /*.container*/ {
	background: #16191c;
	background-size: 100%;
	padding: 75px 0px 75px 0px;  /* top right bottom left*/
	padding-left: 0px;
	padding-right: 0px;
	position: relative;
}
.footertext {
	text-align: center;
	width: 1024px;
	margin-right: auto;
	margin-left: auto;
}
.footertext2 {
	margin-right: 200px;
	margin-left: 200px;
}


/* CONTACT PAGE */
.contactborder {
	background: #f69224;
	height: 6px;
}
.containercontact {  /*trying to left align input boxes and send button with Name Email and Message*/
	display: block;
	padding: 200px 0px 200px 0px;  /* top right bottom left*/
}
.contact {
	background: url("Portfolio/images/blackwithrain.png") alt="background"; /*doesn't work*/
	background-size: cover;
	margin-right: auto;
	margin-left: auto;
	padding: 4em 0;
	background: #16191c;
	padding: 200px 0px 200px 0px;  /* top right bottom left*/
	max-height: 1200px;
}
.contact h5 {
	text-align: center;
	color: #ffffff;
	margin-right: auto;
	margin-left: auto;
}
.contact h3 {
	font-size: 16pt;
	text-align: left;
	color: #ffffff;
	margin-left: 200px;
}


/* PROJECT PAGES */

.containerproj h4 {
	font-family: copperplate;
	color: #16191c;
	text-align: center;
	line-height: 1;
}
.containerproj p {
	text-align: center;
	line-height: 1;
}
.containerproj {
	text-align: center;
}

.containerprojsetup {
	color: #ffffff;
}
.containerprojassessts {
	background: #ffffff;
	padding: 200px 0px 200px 0px;  /* top right bottom left*/
	margin-top: 200px;  /*can't get spacing above/below*/
	margin-bottom: 200px;
}


.containerprojassests {
	align: center;  /*???does not center image*/
}


/*DFTF*/
.containerprojsetup {
	background: #8a1b1f;
	padding: 50px 50px 50px 50px;  /* top right bottom left*/
}
.containerprojprocess {
	float: center;  /*???why doesn't this center image*/
	color:  #ffffff;
	background: #e0641f;
	padding: 50px 50px 50px 50px;  /* top right bottom left*/
}
.containerprojresults{
	color: #ffffff;
	background: #2abb58;
	padding: 50px 50px 50px 50px;  /* top right bottom left*/
}

/*FRESHWAVE*/
.containerprojsetupFW {
	color: #ffffff;
	text-shadow: #000000; /*???why doesn't shadow appear*/
	background: #a7dde4;
	padding: 50px 50px 50px 50px;  /* top right bottom left*/

}
.containerprojprocessFW {
	color: #ffffff;
	background: #e05920;
	padding: 50px 50px 50px 50px;  /* top right bottom left*/
}
.containerprojresultsFW{
	color: #ffffff;	
	background: #1596a5;
	padding: 50px 50px 50px 50px;  /* top right bottom left*/
}


/*SCHOOLDEETS*/
.containerprojsetupSD {
	color: #ffffff;
	background: #0a769a;
	padding: 50px 50px 50px 50px;  /* top right bottom left*/
}
.containerprojprocessSD {
	color: #ffffff;
	background: #ef6c34;
	padding: 50px 50px 50px 50px;  /* top right bottom left*/
}
.containerprojresultsSD{
	color: #ffffff;
	background: #53c4c6;
	padding: 50px 50px 50px 50px;  /* top right bottom left*/
}
.link {  /*???why not centered?*/
	display: block;
	align: center
}


/*ARTISAN STYLE*/

.containerprojsetupAS {	
	background: #42214a;
	padding: 50px 50px 50px 50px;   /* top right bottom left*/
	color: #ffffff;
}
.containerprojprocessAS {
	color: #ffffff;
	background: #845864;
	padding: 50px 50px 50px 50px;   /* top right bottom left*/
}
.containerprojresultsAS{
	color: #ffffff;
	background: #108462;
	padding: 50px 50px 50px 50px;   /* top right bottom left*/
}


/*POCKETS*/
.containerprojsetupP {
	background: #003764;
	padding: 50px 50px 50px 50px;  /* top right bottom left*/
}
.containerprojsetupP {
	color: #ffffff;
}
.containerprojprocessP {
	color:  #ffffff;
	background: #DE330E;
	padding: 50px 50px 50px 50px;  /* top right bottom left*/
}
.containerprojresultsP{
	color: #ffffff;
	text-shadow: #000000;
	background: #9ec9d4;
	padding: 50px 50px 50px 50px;  /* top right bottom left*/
}


/*WINTERPR*/
.containerprojsetupW {
	background: #1e388d;  /*green alternative #acdb55*/
	padding: 50px 50px 50px 50px;  /* top right bottom left*/
}
.containerprojsetupW {
	color: #ffffff;
}







