z html, body{
   overflow-x: hidden;
 }
 body {
   text-align: left;
   font-family: "Raleway", "Playfair";
   font color: #16191c;
   line-height:  1.4;
 }
 h1, h2, h3, h4 {
   text-align: left;
   font-family: "Raleway", "Playfair";
   font color: #16191c;
 }
 h1 {
   font-size: 24px; 
   font-weight: bold;
   margin-top: 40px;
   margin-bottom: 30px;
   line-height: 1.1;
 }
 h1.About {
   font-size: 48px; 
   font-weight: bold;
   color: #f69224;
   padding-left: 0px;
   padding-top: 25px;
   padding-bottom: 25px;
   line-height: 1.1;
   margin: auto;
   text-align: left;
 }
 h2 {
   	font-size: 30px; 
	font-weight: lighter;
	margin-top: 40px;
   	margin-bottom: 30px;
   	line-height: 1.1;
 }
 h3 {
   font-size: 18px;  
   font-weight: lighter;
   margin-top: 40px;
   margin-bottom: 10px;
   line-height: 1.1;
 }
 h4 {
	max-width: 70%;
	font-weight: bold;
	font-size: 24px;
	color: #16191c;
	text-align: center;
	line-height: 1;
	margin: auto;
	padding-top: 25px;
}
  h5 {
   font-size: 30px; 
   text-align: center; 
   font-weight: bold;
   margin-top: 10px;
   margin-bottom: 10px;
   line-height: 2;
}
 h6 {
   color: #0e3b5d;
   font-size: 16px; 
   margin-top: 20px;
   margin-bottom: 0px;
   line-height: 1.0;
 }

p {
	text-align: left;
   font-size: 20px;  
   font-weight: 100;
   line-height: 2.2;
}

p2 {
   max-width: 70%;
   margin: auto;
   text-align: left;
   font-size: 14px;  
   font-weight: 100;
   line-height: 2.2;
}
p3 {
   max-width: 60%;
   margin: auto;
   text-align: left;
   font-size: 18px;  
   font-weight: 100;
   line-height: 2.2;
} 

p.bold {
   text-decoration: bold;
   text-align: left;
   font-size: 16px;  
   line-height: 1.8;
   font-weight: 100;
}
p.wwm {
   margin: auto;
   text-align: left;
   font-size: 20px;  
   font-weight: 100;
   line-height: 2.2;
}
p.center {
	max-width: 60%;
   margin: auto;
   text-align: left;
   font-size: 20px;  
   font-weight: 100;
   line-height: 2.2;
}
p.text-center {
	max-width: 60%;
   margin: auto;
   text-align: left;
   font-size: 20px;  
   font-weight: 100;
   line-height: 2.2;
}
img {
	max-width: 100%
}

/* GRID */

.container {
	max-width: 1280px;
	margin-right: auto;
	margin-left: auto;
	position: relative;
	padding: 0px 40px 50px 40px;  /* top right bottom left*/
}

.container:before,
.container:after {
	content: " ";
	display: table;
}

.container:after {
	clear: both;
}

.one-half,
.one-third,
.one-fourth {
	width: 96%;
	float: left;
	position: relative;
	min-height: 1px;
	margin: 0 2% 20px;
}

/* HEADER */

header {
	padding: 1em 0;
    height: auto;
    width: 100%;
    z-index: 100
}
header nav ul {
	display: inline;
	text-align: left;
	float: left;
}
header .text-right {
	text-align: right
}
header nav ul > li {
	list-style-type: none;
	display: inline-block;
}
header nav ul > li > a {
	color: #ffffff;
}

/* BUTTONS */

.btn {
	font-size: 14pt;
	border-radius: 4px;
	color: #FFFFFF;
	padding: 6px 20px;
	background: #f69224;
	border: 2px solid #f69224;
	box-shadow: 0px 2px 0px 0px #c97518;
	text-decoration: none;
	display: inline-block;
	text-align: center;
}
.btnHome {
	font-size: 14pt;
	color: #FFFFFF;
	text-decoration: none;
	display: inline-block;
	padding:  0px 25px 0px 0px;/* top right bottom left*/
}
.btnProfile {
	font-size: 14pt;
	color: #FFFFFF;
	text-decoration: none;
	display: inline-block;
	padding:  0px 25px 0px 0px;/* top right bottom left*/
}
.btnclose {
	font-size: 36px;
	color: #ffffff;
	text-align: right;
	display: block;
	text-decoration: none;
	padding: 0px 75px 0px 0px;/* top right bottom left*/
}
.btnFooter {
	font-size: 14pt;
	border-radius: 4px;
	color: #FFFFFF;
	padding: 6px 20px;
	background: #f69224;
	border: 2px solid #f69224;
	box-shadow: 0px 2px 0px 0px #c97518;
	text-decoration: none;
	display: inline-block;
	margin: 0 70px;/* top right bottom left*/
	text-align: center;
}

/* HEADER */


header /*.container*/ {
	background: #16191c;
	background-size: 100%;
	padding-top: 10px;
	padding-bottom: 20px;
	padding-left: 0px;
	padding-right: 0px;
	margin: 0;
	position: fixed;
	top: 0px;
}
.headertext h6 {
	color:  #ffffff;
	font-weight: lighter;
	margin: 0;
}

/* CONTAINERS */

.containerhero {  /*#dedfe0   mg-i5a4671.jpg  KristaPorfolioPhotov2.png height:100% */
	background: url("../images/KristaPorfolioPhotov3.png") no-repeat 0 0 scroll;
	margin-right: auto;
	background-size: 100% 100%;
    height:725px;
    width:100%;
	/*margin-left: 75px;
	margin-top: 75px;
	margin-bottom: 0;*/
}
.containerhero p.ME {  
   font-size: 48px; 
   font-weight: bold;
   color: #f69224;
   padding-left: 0px;
   padding-top: 200px;
   padding-bottom: 25px;
   line-height: 1.1;
   margin: auto;
   text-align: left;
}
.containerhero p {  
	color: #ffffff;
	max-width: 60%;
   margin: auto;
   text-align: left;
   font-size: 20px;  
   font-weight: 100;
   line-height: 2.2;
   padding-top: 10px;
}
.containerMyStory{
	align: center;
	margin-right: auto;
	margin-left: 75px;
	margin-top: 75px;
	margin-bottom: 0;
}
.containerMyStory p {
   margin: auto;
   text-align: left;
   font-size: 20px;  
   font-weight: 100;
   line-height: 2.2;
}
.containerMyStory h1.About {
   font-size: 24px; 
   font-weight: bold;
   color: #f69224;
   max-width: 60%;
   margin: auto; 
   margin-left: 0px;
}
/*.containerhero img{
	background: cover;
	width: 100%;
} */
.containerhero p.quote {
	font-style: italic;
}
.sectiondivider {  
	text-align: center;
	padding: 0px;
	margin: 0px;
}
.sectiondividerHOME {  
	max-width: 60%
	margin: auto;
	padding-top: 65px;
	margin: auto;
}

/*  WORK WITH ME */


.containerworkwithme {
	background: #11456c;
}
.containerworkwithme h1 {
	color: #ffffff;
	font-weight: lighter;
	text-align:  center;
	margin-right: auto;
	margin-left: auto;
	line-height:.2; 
	max-width: 60%;
    margin: auto; 
    padding-bottom: 50px;
}
 .containerworkwithme h1.About {
   font-size: 24px; 
   font-weight: bold;
   color: #f69224;
   max-width: 60%;
   margin: auto; 
   padding-bottom: 50px;
}
.containerworkwithme h4 {
	color: #ffffff;
	font-weight: lighter;
	text-align:  center;
	margin-right: auto;
	margin-left: auto;
	line-height: 1; 
	padding-top: 25px;
}
.containerworkwithme h3 {
	color: #ffffff;
	text-align:  left;
	line-height: 1; 
	margin-right: auto;
	margin-left: auto;
}
.containerworkwithme p.wwm {
	font-weight: lighter;
	font-size: 16px;
	color: #ffffff;
	text-align: left;
	margin-top: auto;
	margin-bottom: auto;
	line-height: 1.2; 
	margin-left: 0px;
}
.containerworkwithmeicons {
	background: #11456c;
	padding: 75px 0px 75px 0px;  /* top right bottom left*/
}


/* WORK HISTORY */

 .containerworkhistory h1.About {
   font-size: 14px; 
   font-weight: bold;
   color: #f69224;
   line-height: 1.1;
   max-width: 60%;
   margin: auto; 
}

.containerworkhistory {
	text-align: left;
	margin-right: auto;
	margin-left: 75px;
	margin-top: 0px;
	margin-bottom: 0px;
}
.containerworkhistory p {
	margin: 0;
}
/*margin 0 to clean up  remove much this text-align...*/

/* EDUCATION */

.containereducation {
	text-align: left;
	margin-right: auto;
	margin-left: 75px;
	margin-top: 0px;
	margin-bottom: 25px;
}
.containereducation p {
	padding: 0;
	text-align: left;
	margin-right: auto;
	margin-left: auto;
	margin: 0;
}
.containereducation h4 {
	color: #0e3b5d;
	text-align: left;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 0;
}

/* ALIGNMENT */

.text-right {
	text-align: right
}
.top-margin {
	margin-top: 25px;
}
.text-center {
	text-align: center;
}
.padding-0 {
	padding: 0;
}
.link {
	padding: 75px 0px 0px 0px; /* top right bottom left*/
}

/* PROJECT IMAGES */

.proj-link {
	display: block;
	margin: 20px 0;
}

/*.hover {
	margin: 20px 0;
	width: 350px;
	height: 350px;
	background: url('images/DENVERFOODTRUCK.png') bottom;
	text-indent: -99999px;
}
.hover:hover {
	background-position: 0 0;
} 
.hover h1 {
		background-color: blue;
}
.hover:hover h1 {
	background-color: grey;
} */

.proj-img {
	display: block;
}
.containerproject h1 {
	margin-top: 100px;
	padding: 0px 0px 0px 20px;  /* top right bottom left*/ 
}

.containerproject {
	padding: 55px 0px 0px 20px;  /* top right bottom left*/
}

/* FOOTER */

footer /*.container*/ {
	background: #16191c;
	background-size: 100%;
	padding: 0px 0px 0px 0px;  /* top right bottom left*/
	padding-left: 0px;
	padding-right: 0px;
	position: relative;
} 
.footertext {
	display: inline block;
	vertical-align: bottom;
	width: 60%;
	text-align: center;
	margin: auto;
	padding: 20px 0px 0px 0px;  /* top right bottom left*/
}	
.footertext p {
	font-size: 12px;
	padding-bottom: 10px;
	color: #ffffff;
	font-style: lighter;
	text-decoration: none;
	width: 60%;
	text-align: center;
}

/* CONTACT PAGE 
*/

.contactborder {
	background: #f69224;
	height: 6px;
	
}
/*.contact {
	background-size: cover;
	margin-right: auto;
	margin-left: auto;
	padding: 1em 0;
	background: #16191c;

}  */


.contact {
	background: url("../images/UXIceberg.png") no-repeat 0 0 scroll;
	margin-right: auto;
	background-size: 100% 100%;
    height:625px;
    width:100%;
} 


.containercontact {
	display: block;
	max-width: 320px;
	margin: auto;
	margin-bottom: 0;
	padding-top: 75px;
}
.contact label {
	color: white;
}
.contact input {
	margin: auto;
	width: 100%;
	margin-bottom: 20px
}
.contact textarea {
	width: 100%;
	margin-bottom: 20px
}
.containerexit {
	align: right;
	margin: 0;
}
/* PROJECT PAGES */

.containerproj h4 {
	color: #16191c;
	text-align: center;
	line-height: 1.8;
}
.containerproj p {
	text-align: center;
	line-height: 1.4;
}
.projtitle {
	text-align: center;
	margin: 0;
	padding: 0;
	padding: 100px 0px 0px 0px;  /* top right bottom left*/
}
.containerproj {
	text-align: center;
	margin: 0;
	padding: 0;
	padding: 0px 100px 0px 100px;  /* top right bottom left*/
}
.containerprojdetail {
	text-align: center;
	margin: 0;
	padding: 0;
	padding: 100px 0px 0px 0px;  /* top right bottom left*/
}
.containerprojsetup {
	color: #ffffff;
}
.containerprojassets {
 	display: block;
 	margin-top: 100px;
	text-align: center;
	margin: 20px auto; 
}
.containerprojassets img{
 max-width:  100%;
 padding-top: 20px
}

/*DFTF*/

.containerprojsetup {
	color:  #ffffff;
	background: #8a1b1f;
	padding: 50px 50px 50px 50px;  /* top right bottom left*/
}
.containerprojprocess {
	float: center;  
	color:  #ffffff;
	background: #e0641f;
	padding: 50px 50px 50px 50px;  /* top right bottom left*/
}
.containerprojresults{
	color: #ffffff;
	background: #2abb58;
	padding: 50px 50px 50px 50px;  /* top right bottom left*/
}	
.containerprojprocess h1 {
	font-style: italic;
	font-weight: lighter;
}

/*FRESHWAVE*/

.containerprojsetupFW {
	color: #ffffff;
	background: #358d97;
	padding: 50px 50px 50px 50px;  /* top right bottom left*/

}
.containerprojprocessFW {
	color: #ffffff;
	background: #e05920;
	padding: 50px 50px 50px 50px;  /* top right bottom left*/
}
.containerprojresultsFW{
	color: #ffffff;	
	background: #1596a5;
	padding: 50px 50px 50px 50px;  /* top right bottom left*/
}

/*SCHOOLDEETS*/

.containerprojsetupSD {
	color: #ffffff;
	background: #0a769a;
	padding: 50px 50px 50px 50px;  /* top right bottom left*/
}
.containerprojprocessSD {
	color: #ffffff;
	background: #ef6c34;
	padding: 50px 50px 50px 50px;  /* top right bottom left*/
}
.containerprojresultsSD{
	color: #ffffff;
	background: #53c4c6;
	padding: 50px 50px 50px 50px;  /* top right bottom left*/
}
.containerprojsetupW .link {  /*???why not centered? why font size not working?*/
	display: block;
	align: center
	font-size: 200px;
}
.iframe {  /*not working to center movie*/
	display: block;
	margin: 20px;
	max-width: 100%
}

/*ARTISAN STYLE*/

.containerprojsetupAS {	
	color: #ffffff;
	background: #42214a;
	padding: 50px 50px 50px 50px;   /* top right bottom left*/
	color: #ffffff;
}
.containerprojsetupAS h1 {	
	font-style: italic;
	font-weight: lighter;
}
.containerprojprocessAS {
	color: #ffffff;
	background: #845864;
	padding: 50px 50px 50px 50px;   /* top right bottom left*/
}
.containerprojresultsAS{
	color: #ffffff;
	background: #108462;
	padding: 50px 50px 50px 50px;   /* top right bottom left*/
}

/*POCKETS*/

.containerprojsetupP {
	background: #003764;
	padding: 50px 50px 50px 50px;  /* top right bottom left*/
}
.containerprojsetupP {
	color: #ffffff;
}
.containerprojprocessP {
	color:  #ffffff;
	background: #DE330E;
	padding: 50px 50px 50px 50px;  /* top right bottom left*/
}
.containerprojresultsP{
	color: #ffffff;
	background: #658396;
	padding: 50px 50px 50px 50px;  /* top right bottom left*/
}

/*WINTERPR*/

.containerprojsetupW {
	background: #1e388d;  /*green alternative #acdb55*/
	padding: 50px 50px 50px 50px;  /* top right bottom left*/
}
.containerprojsetupW {
	color: #ffffff;
}

/*attempt at hover over effect on project images
.KRbuttonlink {
	display: block;
	width: 350px;
	height: 350px;
	background: url('images/DENVERFOODTRUCK.png') bottom;
	text-indent: -99999px;
}
.KRbuttonlink:hover {
	background-position: 0 0;
}  */










